@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-style: italic;
  font-display: swap;
}

:root {
  --yellow: #f4d04e;
  --white: #fff;
  --grey-950: #111111;
  --gray-500: #6b6b6b;
}

.text-preset-1 {
  font-weight: 800;
  font-size: clamp(20px, 5vw, 24px);
  line-height: 1.2;
}

.text-preset-2 {
  font-weight: 500;
  font-size: clamp(14px, 4vw, 16px);
  line-height: 1.5;
}

.text-preset-3,
.text-preset-3-bold {
  font-weight: 500;
  font-size: clamp(12px, 3vw, 14px);
  line-height: 1.5;
}

.text-preset-3-bold {
  font-weight: 800;
}

main {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 24px;
  flex-grow: 1;
}

body {
  background-color: var(--yellow);
  display: flex;
  margin: 0;
  flex-direction: column;
  font-family: "Figtree", sans-serif;
  min-height: 100vh;
}

a {
  color: var(--gray-950);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--yellow);
}

img {
  width: 100%;
  display: block;
}

h1 {
  margin: 12px 0;
}

.blog-preview-card {
  background-color: var(--white);
  padding: 24px;
  border-radius: 20px;
  border: 1px solid #000;
  box-shadow: 8px 8px 0px #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  max-width: 340px;
}

.blog-preview-card img {
  border-radius: 10px;
  margin-bottom: 24px;
}

.blog-preview-date {
  margin-bottom: 4px;
}

.blog-preview-content {
  display: flex;
  flex-direction: column;
}

.blog-preview-content p {
  color: var(--gray-500);
}

.blog-preview-badge {
  width: fit-content;
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: var(--yellow);
  margin-bottom: 12px;
}

.blog-preview-footer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.blog-preview-footer-image {
  width: 32px;
  height: 32px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
